.chips {
    margin: 0.5em !important;
    background-color: #B1C3CE !important;
}

.header_menu {
    margin-top: 2em !important;
}

/* body > div:first-child {
    margin-left: 5em !important;
} */

.header {
    margin-bottom: 0.3em !important;
}

.description {
    margin-top: 1.5em !important;
}

.card_header {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 0.5em;
}

.started_task {
    background-color: #98D14F !important;
}

.in_progress_task {
    background-color: #D1C14F !important;
}

#user_photo {
    margin: -1em 0 -1em 0;
}

.task_wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.card {
    margin: 1em !important;
}

.event_list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.button_event {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.add_task {
    display: flex; 
    align-items:center; 
    justify-content: center; 
    background-color: #f3f4f5;
    border: none !important;
}

