{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Huge heart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}" />
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
                $('.ui.dropdown') .dropdown();
        });
    </script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
    <!-- ВЕРХНЕЕ МЕНЮ -->
    <div class="ui attached stackable menu header_menu">
            <div class="ui container" id="main_menu">
                <a type="button" href=" "class="item" id="events">
                    Мероприятия
                </a>
                {% for spons in partner %}
               
               {% if spons == event.partner  %}
               <a type="submit" href="/spons/{{spons.pk}}" class="item" id="scolarshipers">
                Спонсоры данного мероприятия
            </a>
               {%endif%}   
                {% endfor %}
                
                <a class="item" id="events">{{event.name}}</a>
            

            <div class="right item">
            <div class="ui dropdown icon item">
                <img class="ui avatar image" src="{% static '/images/avatar/Karim.jpg' %}" id="user_photo">
                
                <div class="menu">
                   
                    <div class="item" id="profile">
                        Профиль
                    </div>
                    <div class="item" id="log_out">
                        Выйти
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
    <!-- РАБОТА С МЕРОПРИЯТИЕМ -->
    <div class="ui top attached menu">
        <div style="margin: 0.3em;">
            <div class="ui buttons">
                <button class="ui button "><i class="plus square outline icon"></i></button>
                <button class="ui button "><i class="edit icon"></i></button>
                <button class="ui button "><i class="trash alternate outline icon"></i></button>
            </div>
        </div>
        
        <!-- EVENT LIST -->
        <div class="event_list" id="event_list">
    
    {% for event in ev %}
           
            {%if event.hidden %}
            
            {% else %}
            <div class="ui label chips">
                    <a type="submit" href="/event/{{ event.pk }}">{{ event.name }} </a>
                </div>
            
            {% endif %}
            {% endfor %}

        </div>

        <div class="right menu">
            <div class="ui right aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Поиск мероприятий..." id="event_search">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
            </div>
        </div>
    </div>


    <div class="ui bottom attached segment">
        <div class="ui grid">
            <div class="ten wide column">
                {% for part in partner %}
                
                <div class="ui segment">
                <!-- СПИСОК ЗАДАЧ -->
                
                <h2 class="ui header">Информация о партнере {{part}}</h2>
                <div class="ui secondary segment" id="month_task_container">
                    <div >  {%if part.inn%}
                            <h4 class="ui header"> ИНН: {{part.inn}}</h4>
                            {%endif%}
                            {%if part.web%}
                            <h4 class="ui header"> Веб-сайт партнера: {{part.web}}</h4>
                            {%endif%}
                            {%if part.telephone%}
                            <h4 class="ui header"> Контактный телефон: {{part.telephone}}</h4>
                            {%endif%}
                            {%if part.mail%}
                            <h4 class="ui header"> Контактная почта: {{part.mail}}</h4>
                            {%endif%}
                            {%if part.event%}
                            <h4 class="ui header"> Прикреплен(а) к {{part.event}}</h4>
                            {%endif%}
                            {%if part.role%}
                            <h4 class="ui header"> Выполняет обязанности: {{part.role}}</h4>
                            {%endif%}
                            {%if part.status%}
                            <h4 class="ui header"> Взаимоотношения с патнером: {{part.status}}</h4>
                            {%endif%}
                            
                            <br /><p></p>
                    </div>
                                
                </div>
                </div>
                {% endfor %}
        </div>
        <div class="six wide column">
            <div class="ui segments">
                <div class="ui segment" id="notifications">
                <!-- Мероприятие -->
                <h2 class="ui header">Мероприятие</h2>
                <h3 class="ui header">{{event.name}}</h3>
                <h4 class="ui header">Начало: {{event.start_time}}  <br />Окончание: {{event.end_time}}</h4>
                </div>
                <div class="ui secondary segment" id="notifications_container">
                    <div class="ui card" id="notification" id="123239">
                        <div class="content">
                        <div class="card_header">
                            <h4 class="ui header">{{task.name}}</h4>
                        </div>
                        <div class="meta">
                            </div>
                            <div class="description">
                            <p>{{event.desc}}
                            </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                            
                            </div>
                            <div style="margin: -0.3em;">
                                <div class="ui buttons">
                                    <button class="mini ui button"><i class="edit icon"></i></button>
                                    <button class="mini ui button"><i class="trash alternate outline icon"></i></button>
                                    <button class="mini ui button"><i class="check square outline icon"></i></button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <details><summary><h3 class="ui header">Партнеры</h3></summary>
<p>
            
            {% for part in partner %}
            {% if part == event.partner %}
            <h4 class="ui header">{{part.name}}</h4> <br />
            {{part.role}}
            {% endif %}{% endfor %}
	</p>
  </details>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<img src="{% static '/images/avatar/logo.png' %}" style="width: 80%; height: auto; margin-left: 10%" >
      
</body>
</html>